  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';

}

header {
    background-image: url(image/Header.png);
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
}

.header_wrapper {
    background-color: rgba(20, 54, 66, 0.7);
    background-size: cover;
    width: 100%;
    height: 700px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
}

.container_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_left {
    margin-top: 39px;
    margin-left: 89px;
    width: 335px;
    height: 67px;
}

.header_right {
    margin-top: 54px;
    margin-right: 50px;
}

.header_right a{
    text-decoration: none;
    margin-right: 49px;
    color: white;
    font-size: 30px;
}

.header_right a:hover{
    color: #EC9A29;
}

.top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 133px 473px 240px 473px;
    text-align: center;
}

.top h1{
    color: white;
    font-size: 70px;
}

.top p{
    color: white;
    font-size: 36px;
}

.contents1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 300px;
}

.weare {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    display: block;
}

.who {
    padding-left: 100px;
}

.who h1 {
    display: inline;
    color:#0F8B8D;
    font-size: 48px;
    border-bottom: 4px solid #EC9A29;
}

.who p {
    font-size: 24px;
    padding-top: 15px;
    color: #143642;
}

.contents2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 70px 300px;
    
}

.prods {
    padding-right: 76px;
}
.beverages {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.prods h1 {
    display: inline;
    color:#0F8B8D;
    font-size: 48px;
    border-bottom: 4px solid #EC9A29;
}

.prods p{
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #143642;
}

.prods a {
    background-color: #A8201A;
    text-align: center;
    border-radius: 55px;
    text-decoration: none;
    color: white;
    height: 29px;
    width: 236px;
    font-size: 24px;
    padding: 10px 50px;
}

.prods a:hover {
    color: black;
    background-color: beige;
}


.contents3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 300px;
}

.hangout {
    width: 450px;
    height: 400px;
    border-radius: 15px;
}

.cafe {
    padding-left: 100px;
}

.cafe h1 {
    display: inline;
    color:#0F8B8D;
    font-size: 48px;
    border-bottom: 4px solid #EC9A29;
}

.cafe p {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #143642;
}

.cafe a {
    background-color: #A8201A;
    text-align: center;
    border-radius: 55px;
    text-decoration: none;
    color: white;
    height: 29px;
    width: 236px;
    font-size: 24px;
    padding: 10px 50px;
}

.cafe a:hover {
    color: black;
    background-color: beige;
}

.insta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 300px;
    margin-top: 20px;
    color: #0F8B8D;
}

.insta h1 {
    font-size: 48px;
}

.insta span {
    color: #EC9A29;
    text-decoration: underline;
    text-decoration-color: #EC9A29;
}

.feeds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 400px;
    justify-content: center;
    max-width: 100%;
}

.feed {
    margin: 30px 50px;
}

.ask {
    padding: 0 258px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.ask h1 {
    color: #0F8B8D;
    font-size: 48px;
    margin-bottom: 20px;
}

.ask p {
    font-size: 24px;
    margin-bottom: 35px;
    color: #143642;
}

.ask a {
    background-color: #A8201A;
    text-align: center;
    border-radius: 55px;
    text-decoration: none;
    color: white;
    height: 29px;
    width: 236px;
    font-size: 24px;
    padding: 10px 50px;
}

.ask a:hover {
    color: black;
    background-color: beige;
}

.footer {
    margin-top: 70px;
    height: 90px;
    position: absolute;
    width: 100%;
}

.simbol {
    width: 70%;
    height: 70%;
    padding-left: 50px;
}

.container_footer {
    background-color: #143642;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.mail, .phone {
    height: 40px;
    width: 35px;
    margin-left: 15px;
}

.footer_left1{
    display: flex;
    flex-direction: row;
    padding-left:35px;
    padding-top:15px;
}

.container_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    margin-top: 20px;
}

.container_menu a:hover {
    color: #EC9A29;
}

.menu_p {
    display: flex;
    flex-direction: column;
    padding:20px 20px;
}

.menu_p p {
    color: #EC9A29;
}

.menu_p a {
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.menu_s {
    display: flex;
    flex-direction: column;
    padding:20px 20px;
}

.menu_s p {
    color: #EC9A29;
}

.menu_s a {
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.menu_c {
    display: flex;
    flex-direction: column;
    padding:20px 20px;
}

.menu_c p {
    color: #EC9A29;
}

.menu_c a {
    color: white;
    text-decoration: none;
    padding-top: 20px;
}
